:root {
	/* backgrounds */
	--background-color: #f7f7fb;
	--header-background: #efefef;
	--header-background-dark: #1b202e;
	--footer-background: #1b202e;
	--selected-color: #e65f2b;

	/* buttons */
	--primary-color: #ffa665;
	--secondary-color: #1b202e;

	/* indicators */
	--success-color: #1a932e;
	--danger-color: #dfa510;
	--warning-color: #ee201c;
	--notification-color: #a80300;

	/* text */
	--light-color: #ffffff;
	--dark-color: #1b202e;
	--font-family: 'Helvetica', regular;
}

/* General rules */
html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: var(--font-family);
	background-color: var(--background-color);
	color: var(--dark-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0.5em 0;
	font-weight: normal;
}
h1 {
	font-size: 4em;
}
h2 {
	font-size: 3em;
}
h3 {
	font-size: 2em;
}
p,
b {
	line-height: 1.6;
}
a {
	color: var(--light-color);
	&:hover {
		text-decoration: underline;
	}
}
ul,
ol {
	margin: 0;
	padding: 0 0 0 1.5em;
}
button {
	background-color: var(--primary-color);
	color: var(--dark-color);
	border: none;
	width: fit-content;
	font-weight: bold;
	border-radius: 8px;
	font-size: 16px;
	padding: 1em !important;
	cursor: pointer;
	padding-inline: 0;
	&:hover {
		background-color: var(--primary-color);
	}
	&:disabled {
		background-color: var(--disabled-color);
		cursor: not-allowed;
	}
	&.secondary {
		background-color: var(--secondary-color);
		color: var(--light-color);
	}
	&.ghost {
		background-color: transparent;
		color: var(--dark-color);
		border: 3px solid var(--primary-color);
	}
}
header {
	display: grid;
	grid-template-columns: 1fr 3fr;
	align-items: center;
	padding: 1em;
	background-color: var(--header-background);
	min-height: 100px;
}
footer {
	display: grid;
	grid-template-columns: 1fr 3fr;
	justify-content: center;
	align-items: center;
	padding: 1em;
	text-align: center;
	background-color: var(--footer-background);
	color: var(--light-color);
	min-height: 100px;
}
input,
select {
	padding: 1rem;
	border-radius: 0.5em;
	appearance: none;
	-webkit-appearance: none;
	margin: 0;
	border: 1px solid var(--border-color);
	-moz-appearance: textfield;
}
select {
	background: url('data:image/svg+xml;utf8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2230%22 height=%229%22 viewBox=%220 0 30 9%22 fill=%22none%22%3E%3Cpath d=%22M1.10034 1.26855L7.10034 7.26856L13.1003 1.26856%22 stroke=%22black%22 stroke-width=%222%22 stroke-linecap=%22round%22 stroke-linejoin=%22round%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position-x: 100%;
	background-position-y: 50%;
	background-color: white;
}
/* Re-usable classes */
.app {
	display: grid;
	min-height: 100vh;
	grid-template-rows: auto 1fr auto;
	gap: 3em;
}
.container {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	gap: 1em;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
}
.notification-bubble {
	background-color: var(--notification-color);
	color: white;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(50%, -50%);
}
.logo {
	width: clamp(200px, 50%, 300px);
}
@media (max-width: 768px) {
	.container {
		width: 100%;
	}
	header {
		grid-template-columns: 3fr 1fr;
		justify-content: center;
	}
	footer {
		grid-template-columns: 1fr;
		gap: 2em;
	}
	button {
		font-size: 12px;
	}
	h1 {
		font-size: 2.5rem;
	}
	h2 {
		font-size: 1.75rem;
	}
	h3 {
		font-size: 1.25rem;
	}
}
